/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

.header {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  border-bottom: grey;
}

.header h2 {
  color: grey;
  font-size: 20px;
  font-weight: 300;
}

.header a {
  color: grey;
}

p {
  font-weight: lighter;
}

.header a:hover {
  color: rgb(78, 78, 78);
  text-decoration: none;
}

.container {
  margin: 20px 100px;
}

.article a {
  color: #337ab7;
}

.article a:hover {
  color: #23527C;
}

h1 {
  font-size: 24px;
}
